<form action="/purchase?data={a:123}" method="POST">
  <script
    src="//checkout.stripe.com/v2/checkout.js"
    class="stripe-button"
    data-key="pk_test_51KeHsESA71D2oM6yq3n28evGBrCqdkkBkyjX7rROnUtWGJMpR0VOGallR16aIoMQ5EENaeeu4mys1E2cNzRvnS0D009nK2uNPN"
    data-amount="2500"
    data-currency="USD"
    data-name="Crafty Gourav"
    data-description="Handmade Art and Craft Products"
    data-locale="auto">
  </script>
</form>
